[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
flask-restx = "*"
python-dotenv = "*"
flask = "*"
pyzbar = "*"
requests = "*"
google-api-python-client = "*"
google-cloud-vision = "*"
datefinder = "*"
dates = "*"
dateparser = "*"
flask-sqlalchemy = "*"
cockroachdb = "*"
werkzeug = "*"
opencv-python = "*"
psycopg2-binary = "*"
pil = "*"
pillow = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
